html{
    font-size: calc(10px + .5vw);
}


body{
    font-family: "arial";
    background-color:#2D2D2D;
}

ul, li{
    list-style: none;
    margin: 0;
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: space-around;
    color: white;
}
.input{
    text-align: center;
    border-radius: 0 0 3px 3px;
    border: none;
    border: solid #4d4e4f 2px;
    padding: 1vh;
    font-size: calc(10px + .5vw)
}

.select{
    padding: 0.9vh;
    text-align-last: center;
}

svg{
    height: 17.5px;
    width: 17.5px;
}

.label{
    background-image: linear-gradient(to top, rgba(97,251,128,0.8), rgba(97,251,128,0.3));
    padding: 0.8vh;
    margin-top: 1vh;
    margin-bottom: -1%;
    border: solid #4d4e4f 2px;
    border-radius: 3px 3px 0 0;
    color:white;
    font-weight: 600;
    justify-content: space-around;
}

.library{
    min-width: 350px;
    max-width: 65vw;
    margin: 1vh auto;
    padding: 1vw 3vw;
    background-image: linear-gradient(to top, rgba(232,232,232,0.6), rgba(232,232,232,0.3));
    border: solid #61dbfb 3px;
    box-shadow: 0.4vh 0.5vh  #4d4e4f;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1vh auto;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    margin:0 5px;
}

.btn-submit {
    background-color:#7161fb;
    border-radius: 3px;
    font-weight: 600;
    align-items: center;
    margin: 0 auto;
    padding: 1vh 1vw;
    width: 150px;
    height: 50px;
    display: block;
    border: solid #4d4e4f 0.5px;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    border: 3px solid white;
}

.btn-submit:hover{
    transition: 0.3s;
    background-color: rgba(113,97,251,.5); 
}

.btn-submit:active,
.btn-submit:focus{
    transition: 0.3s;
    background-color:black;
}

.btn-library {
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: white;
    font-size: calc(10px + .5vw)
}

.btn-clear{
    background-color: transparent;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 0;
    width: 100%;
}

.header{
    text-align: center;
    padding: 0.5vw;
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(97,219,251,1), rgba(97,219,251,0.5));
    color: #f9f3ec;
    border: 0.5vh solid white;
    box-shadow: 0.4vh 0.5vh  #4d4e4f;
}

.library-row{
    margin: 0;
}

.basura{
    color: white;
    size: 1vh;
}